@model List<ClienteModel>
@{
    ViewData["Title"] = "Clientes";
}
<div class="center">
    <div class="text-center">
        <h1 class="display-4">Clientes</h1>
        <p>Lista de clientes:</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-outline-dark" role="button" asp-controller="Cliente" asp-action="AdicionarCliente">Adicionar Cliente</a>
        </div>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Fantasia</th>
                <th scope="col">Documento</th>
                <th scope="col">Endereço</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(ClienteModel cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.Id</th>
                        <td>@cliente.CodigoCliente</td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Fantasia</td>
                        <td>@cliente.Documento</td>
                        <td>@cliente.Endereco</td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="EditarCliente">Editar</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="ExcluirCliente">Excluir</a>
                            </div>
                        </td>
                    </tr>
               }         
            }
        </tbody>
    </table>
</div>
